/* Make the navbar fixed to the top */
*{
    margin:0;
    padding:0;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  /* Style for navbar list */
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar-left{
    display:flex;

  }
  /* Style for navbar items */
  .navbar-item {
    margin: 0 15px;
  }
  
  /* Style for navbar links */
  .navbar-item a, .navbar-item{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-item a:hover {
    text-decoration: underline;
  }
  
  /* Align the right section of the navbar */
  .navbar-right {
    display: flex;
    margin-right: 50px;
  }
  
  /* Ensure the left-aligned items are positioned correctly */
  .left {
    margin-right: auto;
  }
  
  /* Hide element if necessary */
  .hide {
    display: none;
  }
  